
body{
  background-color: #ccc;
}
.img1{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.phones{
  display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ccc;
  }